{% load static %}
{% load markdownify %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>New Tag</title>
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Scrumptious</a>
                    </li>
                    <li>
                        <a href="{% url 'admin:index' %}">Admin</a>
                    </li>
                    <li>
                        <a href="{% url 'recipe_new' %}">Write a recipe</a>
                    </li>
                    <li>
                        <a href="{% url 'tag_new' %}">Create a Tag</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="recipe-detail">
            <div>
                <a href="{% url 'tag_edit' tag.pk %}">Edit</a>
                <a href="{% url 'tag_delete' tag.pk %}">Delete</a>
            </div>
            <h1>{{ tag.name }}</h1>
        </main>
    </body>
</html>
