{% extends 'base.html' %}
{% load static %}
{% load markdownify %}
{% block content %}
    <main class="recipe-detail">
        <div>
            <a href="{% url 'meal_plans_edit' mealplan.id %}">| Edit |</a>
            <a href="{% url 'meal_plans_delete' mealplan.id %}">Delete</a>
            <a href="{% url 'meal_plans_new' %}">| Add New Meal Plan! |</a>
        </div>
        <h1>{{ mealplan.name }}</h1>
        <h2>by: {{ mealplan.owner | default_if_none:"Unknown" }}</h2>
        <p>
            {{ recipe.created }}
        </p>
        {{ meal_plans.description | markdownify }}
    </main>
{% endblock content %}
